body {
    font-family: 'Open Sans', sans-serif;

}
.header-box h1,
.faq-box h2 {
    font-family: 'Comfortaa', cursive;
}
header {
    background-color: #71F1E5;
    padding: 20px;
    display: flex;
    flex-direction: row;

}

.header-box {
    flex: 1;
    padding: 25px;
    margin: 100px ;
    background-color: #00CDBA;
    max-width: 500px;
    border-radius: 40px;
}

.name {
    color: grey;

}

.profile-picture {
    width: 600px;
    height: auto;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}
.faq-box {
    background-color: #FFB199;
    padding: 20px;
    margin-top: 20px;
    margin: 50px;
    border-radius: 40px;

}

.faq-box h2 {
    margin-bottom: 20px;
    

}

.faq-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFB199;

}

.faq-card {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #FFB199;
    border-radius: 5px;
    flex: 1 1 calc(30% - 10px);
    box-sizing: border-box;
}

.contact-box h1,
.contact-box h2 {
    font-family: 'Comfortaa', cursive;
}

.contact-box {

    border-radius: 20px;
    
    padding: 20px;
    margin-top: 20px;
}
.form-container {
    display: flex;
    align-items: flex-start;
    gap: 100px;
   

}

.contact-form {
    background-color: #FFB199;
    padding: 40px;
    width: 550px;
    border: 2px solid black;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.title-box{
    background-color: #FFB199;
    padding: 20px;
    border-radius: 20px;
    max-width: 200px;
    border: 2px solid black;
    margin: 40px;
}