body, p, a, li {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Comfortaa';
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #71F1E5;
}
header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    background-color: #71F1E5;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    background: #00BFAD;
    border-radius: 8px;
    margin-right: 30px;
}

.box h1 {
    margin: 40 20 20px;
}

button {
    padding: 30px 50px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #333;
}

.search-area {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 50%;
    padding: 40px;
    border-radius: 20px;
}

.search-container {
    width: 80%;
    margin-left: auto;
    padding: 20px;
}

.search-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}

.pagination a {
    padding: 5px 10px;
    margin: 0 2px;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #ddd;
}
.help-header {
    font-family: 'Comfortaa', cursive;
    color: black;
}

.form-popup {
    background: #FFB199;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.form-content label,
.form-content input,
.form-content textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.form-content .submit-btn {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn {
    background: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.success-message {
    background: green;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    color: white;
}


.forum-submissions {
    display: grid;
    gap: 10px;
    background: #FFB199;
}

.submission {
    padding: 15px;
    background: #FFB199;
    border: 1px double black;
}

.comment-btn {
    background-color: #00BFAD;
    padding: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
} 
.ad-space {
    background: #00CDBA;
    color: black;
    padding: 20px;
    text-align: center;
    line-height: 2em;
}
