body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 250px;
    padding: 0;
    
}

header {
    background-color: #00CDBA;
    padding: 20px;
}

.header-box {
    display: flex;
    flex-direction: row;
    width: 100%;   
    }

.dropdowns {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 40px;
    min-width: 350px;
}

label {
    margin-bottom: 5px;
    width: 100%;
    padding: 25px;
}

select {
    width: 100%;
}

.search-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    padding: 50px;
    min-width: 300px;
    margin: 30px;

}.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}

.pagination a {
    padding: 5px 10px;
    margin: 0 2px;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #ddd;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #FFB199;
    border-radius: 40px;
    border: 1px double black;
    padding: 15px;
    margin: 10px;
    flex: 0 1 calc(30% - 20px);
    /* Three cards per row */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}