body ,p ,a ,li  {
    font-family: 'Open Sans', sans-serif;
}

h1 ,h2 ,h3 , h4 {
    font-family: 'Comfortaa';
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    background-color: #71F1E5;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    background: #00BFAD;
    border-radius: 8px;
    margin-right: 30px;
}

button {
    padding: 30px 50px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #333;
}

.search-area {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
    border-radius: 20px;
}

.search-container {
    width: 80%;
    margin-left: auto;
    padding: 20px;
}

.search-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}

.pagination a {
    padding: 5px 10px;
    margin: 0 2px;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #ddd;
}

.help-header {
    font-family: 'Comfortaa', cursive;
    color: black;
}

.hidden {
    display: none;
}

.form-popup {
    background: #FFB199;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    position: fixed;
    z-index: 9998;
    transform: translate(25%, -25%);

}

.form-content label,
.form-content input,
.form-content textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.form-content .submit-btn {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn {
    background: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
    float: right;

}

.success-message {
    background: green;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    color: white;
}

.forum-submissions {
    display: grid;
    gap: 10px;
    background: #FFB199;
}

.submission {
    padding: 15px;
    background: #FFB199;
    border: 1px double black;
}

.comment-btn {
    background-color: #00BFAD;
    padding: 5px;
    cursor: pointer;
}

.content {
    display: flex;
    margin-top: 20px;
}

.layout {
    display: flex;
    align-items: flex-start;
}

.ad-space {
    width: 20%;
    min-height: 300px;
    background-color: #00CDBA;
    height: 1750px;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cards {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.card {
    display: flex;
    background-color: #FFB199;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

.card h4 {
    margin: 0;
    font-size: 1.2em;
}

.card p {
    margin-top: 10px;
    line-height: 1.4;
    color: grey;
}

.comments-btn {
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    width: auto;
    margin-top: 15px;
    align-self: flex-start;
    border-radius: 4px;
    border: 1px solid black;
}

.comments-btn:hover {
    background-color: #bbb;
}