.footer {
    text-align: center;
    background-color: #f8f8f8;
    width: 100%;
    max-width: 1490px; 
    margin: auto;
    padding: 20px;
    position: absolute;
    border-top: 2px solid black;
    padding: 20px;
    border-style: double;

}
.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-links li {
    display: inline;
    
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
}

.footer-links a:hover {
    color: #00CDBA;
}