/* navbar for all pages now with nesting*/
body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #71F1E5;;
}

.navbar {
    background-color: #00CDBA;
    position: flex;
    padding-bottom: 10px;
    height: 100px;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: auto;
    max-height: 40px;
    max-width: 100%;

}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    background-color: #ECF0F1;;
    color: #000000;
    padding: 10px 20px;
    border-radius: 100px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
}

.nav-links a:hover {
    background-color: #3498db;
    color: white;
}

.nav-links a.active {
    background-color: #e74c3c;
    color: white;
}

.login-btn {
    position: right;
    width: 70px;
    height: 70px;
}

.login-btn img {
    width: auto;
    height: 100%;
    max-width: 100%;
    transition: opacity 0.3s ease;
}

.login-btn:hover img {
    opacity: 0.7;
}

.content {
    padding: 10px 2px;
}