.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00CDBA;
    margin-bottom: 400px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border: 2px solid black;
}
body {
    margin-top: 200px;
    background-color: #71F1E5;
}
.logo {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    
}

.nav-links {
    display: flex;
    gap: 80px;
    list-style: none;
}

.nav-button {
    padding: 8px 15px;
    background-color: white;
    color: black;
    border-radius: 40px;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
    font-size: 24px;
}

.nav-button:hover {
    background-color: #e0e0e0;
}

.login-icon img {
    height: 80px;
        margin-right: 20px;

}