/* made it so the allignment of text is set for the home page (still WIP)*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

}

.image-right .text {
    order: 1;

}

.image-right .image {
    order: 2;

}

.image-left .text {
    order: 2;
}

.image-left .image {
    order: 1;
}

.text {
    max-width: 400px;
    text-align: left;
}

.image {
    max-width: 600px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}