/* made it so the allignment of text is set for the home page (still WIP)*/
body {
    font-family: Arial, sans-serif;
    margin: auto;
    text-align: flex;
    background-color: #71F1E5;
}
.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 9999;
}

.accept-button {
    background-color: #00CDBA;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
}

.accept-button:hover {
    background-color: #007a66;
}
.mobile-nav {
    display: none;
}

@media (max-width: 600px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}
p::first-letter {
    font-size: 2em;
    color: black;
}
.content-box {
    display: flex;
    align-items: center;
    gap: 80px;
    background-color: #FFB199;
    padding: 20px;
    border: 2px solid black;
    border-radius: 40px;
    max-width: 1400px;
    margin: 100px ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
        &.image-right {
            margin-left: 40px;
            margin-right: auto;
        }
    
        &.image-left {
            margin-left: auto;
            margin-right: 40px;
        }

.text-content {
    max-width: 800px;
    text-align: left;
    
        .title-button {
            .title 
            {
                font-family: 'Comfortaa', sans-serif;
                font-size: 32px;
                margin: 0;
                text-align: left;
                border-bottom: 2px solid black;                    
                padding-bottom: 5px;
                color: #1b1a1a;
                cursor: pointer;
                }
            }

            &:hover .title {
                color: #3498db;
                border-color: #3498db;
            }
        }

        .small-text {
            font-size: 18px;
            margin: 10px 0;
        }

        .large-text {
            font-size: 18px;
            margin: 10px 0;
        }
    }

    .image {
        max-width: 1000px;

        img {
            max-width: 100%;
            min-width: 400px;
            min-height: 400px;
            height: auto;
            border-radius: 40px;
            border: 2px solid black;
        }
    }

    &.image-right .text-content {
        order: 1;
    }

    &.image-right .image {
        order: 2;
    }

    &.image-left .text-content {
        order: 2;
    }

    &.image-left .image {
        order: 1;
    }
}